[Desktop Entry]
Type=Application
Name=ScratchClip
Comment=A lightweight, modern clipboard history manager
Exec=scratchclip %u
Icon=io.github.TaufiqOf.ScratchClip
Categories=Utility;Application;
Terminal=false
StartupNotify=true
X-Flatpak=io.github.TaufiqOf.ScratchClip
Keywords=clipboard;history;manager;paste;copy;

